$mainColor : #1D4363;
$darkBlueColor : #183650;
$blueColor : #2D6594;
$whiteColor : #ffffff;
$grayColor : #C6C6CB;
$darkGrayColor : #1A1A1A;
$redCorlor : #C72C2C;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header{
    padding: 20px 70px;
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    .header__left{
        @include flexCenter();
    }
    .header__middle {
        @include flexCenter();
        color: $whiteColor;
        h4{
            padding: 10px;
            margin-left: 10px;
            background-color: $redCorlor;
            border: 1px solid $darkGrayColor;
            border-radius: 10px;
            box-shadow: 3px 3px $darkBlueColor;
            &:hover{
                cursor: pointer;
                background-color: $darkGrayColor;
            }
        }
    }
    .header__right{
        @include flexCenter();
        color: $whiteColor;
        .login__status{
            margin-right: 20px;
            @include flexCenter();
            a {
                font-weight: bold;
                margin-right: 10px;
                text-decoration: none;
                color: $whiteColor;
            }
        }
    }
}

.product__management{
    @include flexCenter();
    flex-direction: column;
    .form__create__product{
        margin: 10px;
        padding: 10px;
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid $darkGrayColor;
        background-color: $whiteColor;
        .form__group{
            margin-top: 10px;
            max-height: 25px;
            flex: 30%;
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: $mainColor;
            label{
                margin-right: 1vw;
            }
            input{
                max-width: 10vw;
                border: 1px solid $mainColor;
                border-radius: 10px;
            }
        }       
        button{
            margin: 20px;
            height: 7vh;;
            background-color: $mainColor;
            color: $whiteColor;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            flex: 100%;
            &:hover{
                cursor: pointer;
                background-color: $darkBlueColor;
            }
        }
    }
    .product__table{
        margin-top: 10vh;
        display: flex;
        width: 90vw;
        background-color: $mainColor;
        flex-direction: column;
        .product__table__item{
            padding: 10px;
            display: flex;
            font-weight: bold;
            color: $whiteColor;
            border-bottom: 1px solid $darkGrayColor;
            .product__detail{
                display: flex;
                flex: 90%;
                justify-content: space-between;
                align-items: center;
                img{
                    max-width: 5vw;
                }
            }
            .option{
                @include flexCenter();
                flex:10%;
                :hover{
                    color: $darkGrayColor;
                }
            }
            &:hover{
                background-color: $darkBlueColor;
                cursor: pointer;
            }
        }
    }
}

.form__update__product{
    margin: 10px;
    padding: 10px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid $darkGrayColor;
    background-color: $whiteColor;
    .form__group{
        margin-top: 10px;
        max-height: 25px;
        flex: 30%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: $mainColor;
        label{
            margin-right: 1vw;
        }
        input{
            max-width: 10vw;
            border: 1px solid $mainColor;
            border-radius: 10px;
        }
    }       
    button{
        margin: 20px;
        height: 7vh;;
        background-color: $mainColor;
        color: $whiteColor;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        flex: 100%;
        &:hover{
            cursor: pointer;
            background-color: $darkBlueColor;
        }
    }
}

.order__management{
    @include flexCenter();
    flex-direction: column;
    .order__table{
        margin-top: 10vh;
        display: flex;
        width: 90vw;
        background-color: $mainColor;
        flex-direction: column;
        .order__table__item{
            padding: 10px;
            display: flex;
            font-weight: bold;
            color: $whiteColor;
            border-bottom: 1px solid $darkGrayColor;
            .order__detail{
                display: flex;
                flex: 90%;
                justify-content: space-between;
                align-items: center;
                img{
                    max-width: 5vw;
                }
            }
            .option{
                @include flexCenter();
                flex:10%;
                :hover{
                    color: $darkGrayColor;
                }
            }
            &:hover{
                background-color: $darkBlueColor;
                cursor: pointer;
            }
        }
    }
}

.login__container{
    @include flexCenter();
    .login{
        @include flexCenter();
        flex-direction: column;
        padding: 30px;
        margin: 20px 0px 20px 0px;
        width: 30%;
        border: 1px solid $mainColor;
        color: $mainColor;
        h1{
            margin: 30px 0px 30px 0px;
            text-align: center;
            color: $mainColor;
        }
        button{
            padding: 0px 10px 0px 10px;
            margin: 20px 0px 20px 0px;
            height: 40px;
            background-color: $redCorlor;
            color: $whiteColor;
            font-weight: bold;
            border: none;
            border-radius: 10px;
        }
        .form__group{
            display: flex;
            flex-direction: column;
            label{       
                margin-bottom: 5px;
                font-size: 15px;
                font-weight: bold;
            }
            input{
                margin-bottom: 15px;
                height: 5vh;
                width: 30vw;
                border: 0.5px solid $mainColor;
                border-radius: 10px;
            }
        }
    }
}
